@charset "UTF-8";

* {
font-family: 'Pretendard', sans-serif;
}

section {
text-align: center;
width: 800px; 
margin: 50px auto; 
border-radius: 10px;
box-shadow: 5px 5px 5px lightgrey;
}

#moving-element { /* 움직이는 사이드바 */
  position: relative;
  top: 0;
  transition: top 0.3s;
}

section input {
margin-bottom: 10px;
text-align: center;
}

#textarea {
margin-bottom: 10px;
height: 300px;
resize: none;
}

option {
text-align: center;
}

h1, h2 {
text-align: center;
font-family: 'Lora', serif;
}