@charset "UTF-8";
/* # : 아이디값 */
/* . : 클래스값 */
/* 그냥 적으면 전체 적용 */
/* A>B : A 에 속한 B 적용 */
/* */
fieldset{ /* 폼필드 */
    padding: 5em;
	border: 1px;
	border : 1px solid #ff0080;
    text-align: center;
    margin-left: 35%;
    margin-right: 20%;

}

#simpleCheck{ /* 약식 설명 */
	padding : 2em;
	background-color: #c0c0c0;
	border : 1px solid red;
	text-align: left;
	margin-bottom : 1em;
}

button{
	text-align : right;
	margin-left: 2em;
}
#productImg{
	float: left;
	width: 100px;
	height : 100px;
	border: 1px solid black;
}
#productImgDetail{
	float: left;
	width: 130px;
	height : 130px;
	border: 1px solid black;
}
/* -----------------------모달-------------------------- */
.news-img {
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
/* 이미지 클릭 시, 밝기 조절 */
.news-img:hover {
  opacity: 0.8;
}

.modal {
  display: none; /* 모달창 숨겨 놓기 */
  position: fixed;
  z-index: 1; /* 모달창을 제일 앞에 두기 */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 스크롤 허용 auto */
  cursor: pointer; /* 마우스 손가락모양 */
  background-color: rgba(0, 0, 0, 0.8);
}
/* 모달창 이미지 */
.modal_content {
  margin: auto;
  padding : 2em;
  display: block;
  width: 50%;
  height: auto;
  max-width: 800px;
  border-radius: 10px;
  animation-name: zoom;
  animation-duration: 0.8s;
  background-color: white;
}
/* 모달창 애니메이션 추가 */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* 닫기 버튼 꾸미기 */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}






