@charset "UTF-8";
/* # : 아이디값 */
/* . : 클래스값 */
/* 그냥 적으면 전체 적용 */
/* A>B : A 에 속한 B 적용 */
/* */
#field{ /* 폼필드 */
    padding: 5em;
	border: 1px;
	border : 1px solid #ff0080;
    text-align: center;

}

.formCenter{ /* 폼 감싼 div*/
	display: inline-block;
	background-color: white;
	border : 20px solid #80ff00;
	width: 1000px;
    text-align: left;
}

#mypayment{ /* 폼 */
    padding: 4em;
	border : 1px solid #00d;
}

.orderPay{ /* <h1> 주문/ 결제 */
	text-align: left;
	padding-left : 400px;
}
input{
	margin : 5px;
}
.pickup{ /* 픽업 내용들 */
	text-align: justify;
	margin-right : 2em;
}
.productIMG{
	border : 1px solid #00d;
	width: 140px;
	height : 140px;
	float: left;
	margin-right : 1em;
}
.text-line{
	
}

button {
    border-radius:5px;
    border : 1 solid gray;
}

#order-btn{ /* 결제버튼 */
	background-color : #007144;
	 box-shadow: 0px 5px 0px 0px #007144;
}