@charset "UTF-8";
/* # : 아이디값 */
/* . : 클래스값 */
/* 그냥 적으면 전체 적용 */
/* A>B : A 에 속한 B 적용 */
/* */
#field{ /* 폼필드 */
    padding: 5em;
	border: 1px;
	border : 1px solid #ff0080;
    text-align: center;

}

.formCenter{ /* 폼 감싼 div*/
	display: inline-block;
	background-color: white;
	border : 20px solid #80ff00;
	width: 1000px;
    text-align: left;
   
}

#mypayment{ /* 폼 */
    padding: 4em;
	border : 1px solid #00d;
}

.orderPay{ /* <h1> 주문/ 결제 */
	text-align: left;
	padding-left : 400px;
}
input{
	margin : 5px;
}
.pickup{ /* 픽업 내용들 */
	text-align: justify;
	margin-right : 2em;
	margin-bottom: 5px;
}
.productIMG{
	border : 1px solid #00d;
	width: 140px;
	height : 140px;
	float: left;
	margin-right : 1em;
	margin-top: 8px;
}
.text-line{
	margin : 5px;
	margin-bottom: 1em;
}

#order-btn{ /* 결제버튼 */
    top:50%;
    background-color:#3438e4;
    color: #fff;
    border:1px solid #3438e4;
    border-radius:20px;
    padding:10px;
    margin : 10px;
}
#order-btn:hover{ /* 결제버튼 */
    top:50%;
    background-color:#3438e4;
    color: #fff;
    border:2px solid #6a6dec;
    border-radius:20px;
    padding:10px;
    margin : 10px;
}

#cancle{ /*  장바구니 버튼 */
    top:50%;
    background-color:#fff;
    color: black;
    border:1px solid black;
    border-radius:17px;
    padding:7px;
    margin : 10px;
    
}
#cancle:hover{ /*  장바구니 버튼 */
    top:50%;
    background-color:#fff;
    color: black;
    border:2px solid black;
    border-radius:17px;
    padding:7px;
    margin : 10px;
    
}

.pay{
	font-size : 16px;
	margin-bottom: 1em;
}

#choice{
	margin-top: 1em;
}